<!-- <div class="trans">
    <ul class="trans">
      <li>
        <p><a href="/home-page">Home</a></p> 
      </li>
      <li >
        <p><a href="/profile">Profile</a></p>
      </li>
      <li>
        <p><a href="/about-us">About us</a></p>
      </li>
    </ul>
</div> -->


  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Tweet</span>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/home-page">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/abou">About</a>
        </li>
      </ul>
    </div>
  </nav> -->
  <!-- *ngIf="showNavs" -->
  <div class="left-sidebar">
    <div class="links-flex"         
    >
      <div class="white-logo">
        <a href="/home-page">
          <img src="../../../assets/images/twitter-white.png" class="twitter-white-logo" alt="Twitter white logo">
        </a>
      </div>

      <div class="link-flex mt-2">
        <i class="fa fa-home fa-2x" aria-hidden="true"></i>
        <a class="link-text" href="/home-page">Home</a>
      </div>
      <div class="link-flex mt-2">
        <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
        <a class="link-text" href="/add-tweet">Add Tweet</a>
      </div>
      <div class="link-flex mt-2">
        <i class="fa fa-gear fa-2x" aria-hidden="true"></i>
        <a class="link-text" href="/home-page">Settings</a>
      </div>
    </div>
  </div>